.paginas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.paginas > .pagina {
  width: 50%;
  height: 50%;
}

.paginas > .pagina img {
  width: 100%;
  height: 100%;
}
