#galeria > div {
  float: left;
  width: 20%;
  padding: 10px;
  box-sizing: border-box;
}

.foto img {
  width: 100%;
  display: block;
  border: 5px solid #034918;
  object-fit: cover;
  height: 200px; 
}

.detalhes {
  display: none;
}

#galeria .foto:target {
  position: absolute;
  width: 50%;
  top: 15px;
  left: 25%;
  padding: 10px;
  border: solid 1px #034736;
  background: #DCDCDC;
}

.foto:target .detalhes {
  display: block;
}

.relato {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.foto:target img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.header {
  background-color: #014720;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.header h1 {
  font-size: 24px;
}
